@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*fade-in animation*/
@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes slide-in {
    0% {
        margin-left: 40px;
        margin-right: 40px;
    }
    100% {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@keyframes slide-up {
    0% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0px;
    }
}

/*main content*/
#content {
    position: absolute;
    width: 100%;
    left: 0px;

    animation: fade-in 0.8s;
}

#main-column {
    z-index: 1;
    position: absolute;
    width: 34%;
    left: 33%;
    margin: auto;

    text-align: center;

    animation: slide-up 0.8s;
}

#avatar {
    display: inline-block;
    height: auto;
    width: 45%;
    margin-top: 2%;
    margin-bottom: 1%;
}

#title {
    margin-top: -10px;
    margin-bottom: -18px;

    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 94, 161);
    font-size: 60px;
    font-family: "Passion One";
    line-height: 55px;
}

#title:lang(ru){
    margin-top: -10px;
    margin-bottom: -13px;

    font-size: 40px;
    font-family: "Open Sans";
    font-style: bold;
    font-weight: 800;
    line-height: 38px;
}

#description {
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: left;
    font-size: 25px;
    font-family: "Open Sans";
    font-weight: 700;
    color: white;

    background-color: rgba(255,255,255,0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(255,255,255,0.6);
}

.footnote {
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

.footnote a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

p {
    margin: 3px;
    padding: 0px;
}

/*side columns*/
#left-column {
    right: 68%;
    text-align: right;
}

#right-column {
    left: 68%;
    text-align: left;
}

#left-column, #right-column {
    display: initial;
    position: absolute;
    width: 32%;
    padding-top: 40px;

    animation: slide-in 0.8s;
}

.penny-clips {
    display: inline-block;
    width: 70%;
    height: auto;
    margin-top: 6%;

    border: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

/*tablet*/
@media (max-aspect-ratio: 5/4) {

    #main-column {
        position: relative;
        display: block;
        width: 90%;
        left: 5%;
        right: initial;
        margin: 0;
    }

    #avatar {
        width: 80%;
    }

    #description {
        font-size: 25px;
    }

    .footnote {
        font-size: 18px;
    }

    #left-column, #right-column {
        position: relative;
        display: block;

        width: 100%;
        left: 0%;
        right: initial;
        padding-top: 0px;
        text-align: center;

        animation: none;
    }

    #left-column { margin-top: 10px; }

    #right-column { margin-bottom: 50px;}

    .penny-clips { 
        width: 88%;
        margin-top: 10px;
        border-width: 4px;
    }
}

/*mobile*/
@media (max-aspect-ratio: 10/16) {
    #main-column {
        left: 5%;
        width: 90%;
    }

    #avatar {
        width: 80%;
    }

    #title {
        margin-bottom: -10px;

        font-size: 40px;
        line-height: 35px;
    }

    #title:lang(ru) {
        margin-bottom: -12px;
        
        font-size: 30px;
        line-height: 28px;
    }

    #description {
        font-size: 20px;
    }

    .footnote {
        font-size: 16px;
    }
}